<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<section class = 'row'>
<section class = 'col'>
    <h2>Input API Data Here</h2>
    <form action="/api" method="POST">
        <input type="text" placeholder="last name" name="name">
        <input type="text" placeholder="full name" name="fullName">
        <input type="text" placeholder="species" name="species">
        <input type="text" placeholder="born" name="born">
        <input type="text" placeholder="died" name="died">
        <input type="text" placeholder="image" name="image">
        <input type="text" placeholder="actor" name="actor">
        <textarea rows="5" cols="40" type="text" placeholder="fun fact" name="funFact"></textarea>
        <input type="text" placeholder="ship" name="ship">
        <input type="text" placeholder="shipImage" name="shipImage">
        <button type="submit">SUBMIT NEW</button>
        <button type="button" id="updateButton">UDPATE EXISTING</button>
    </form>
</section>
<section class = 'col'>
    <h2>Delete API Data Here</h2>
    <input input type="text" placeholder="name to delete" name="deleteInput" id = "deleteInput"><button id="deleteButton">DELETE</button>

    <h2>Current Captains</h2>
    <ul class="captains">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="captain">
            <span><%= info[i] %></span>
        </li>
    <% } %>
    </ul>

    <h2>Insert JSON Here</h2>
    <form action="/massinsert" method="POST">
    <textarea rows="20" cols="40" type="text" placeholder="insert JSON, comma delimited between objects" name="insertMany"></textarea>
    <button type="submit">LOAD JSON</button>
    </form>
</section>
</section>
<script type="text/javascript" src='main.js'></script>
</body>
</html>